.service-card {
  /* background-color: #f9f9f9; */
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.service-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service-description {
  font-size: 1em;
  color: white;
}
