.footer {
  /* background-color: #333; */
  color: white;
  padding: 40px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.8;
}

.footer-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #f4b400; /* Optional hover color */
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
  font-size: 14px;
  width: 100%;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons li a {
  color: white;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }
}
